body {
  font-family: vinyl, sans-serif;
  color: #181818;
  cursor: url("../cursor.png");
}

html {
  background-color: #F1F3F4;
    /* overflow-x: auto; */
    overflow-y: scroll;
    overflow-x: visible;
}

.TealBackground {
  position: absolute;
}

.IntroTitleDiv {
  display: flex;
  justify-content: center;
}

.IntroTitle {
  margin-top: 10%;
  position: relative;
  height: 65%;
  width: 65%;
}

.IntroStatementDiv {
  display: flex;
  justify-content: center;
}

.IntroStatement {
  margin-top: 5%;
  position: relative;
  height: 45%;
  width: 45%;
}

.IntroButtonDiv {
  display: flex;
  justify-content: flex-end;
}

.IntroButton {
  margin-top: 18%;
  margin-right: 10%;
  position: relative;
  height: 20%;
  width: 20%;
  opacity: .5;
  transition:  opacity .5s ease 0s;
  transition:  height .5s ease 0s;
  transition:  width .5s ease 0s;
}

.IntroButton:hover {
  opacity: 1;
  height: 22%;
  width: 22%;
  transition:  opacity .5s ease 0s;
  transition:  height .5s ease 0s;
  transition:  width .5s ease 0s;
}



.aspirationDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 15%;
  margin-left: 0%;
  font-size: 55px;

  height: 60%;
  width: 100%;
  position: absolute;
}
.aspirationDiv input {
  width: 60%;
  height: 20%;
  margin-left: 20%;
  font-size:25px;
  font-family: vinyl, sans-serif;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

.aspirationDiv input:focus {
  outline: 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

.aspirationDiv input::placeholder {
  margin: 0px;
  color: #BEBEBE;
}
.aspirationDiv p {
  height: 10%;
  width: 100%;
  text-align: center;
}

.AButton {
  margin-top: 5%;
  margin-left: 70%;
  height: 10%;
  width: 10%;
  opacity: .5;
  transition:  opacity .5s ease 0s;
}

.AButton:hover{
  opacity: 1;
  transition:  opacity .5s ease 0s;
}

.ATitle {
  margin-top: 10%;
  margin-bottom: 0;
  color: #f24822;
}

.AAnswer {
  font-size: .5em;
  color: #BEBEBE;
  margin-top: 2%;
  margin-bottom: 3%;
}

.ADefinition {
  height: 50%;
  width: 50%;
  margin-left: 25%;
}

.returnText {
  font-size: .3em;
  opacity: 1;
  transition:  opacity .5s ease 0s;
}

.returnText:hover {
  opacity: .5;
  transition:  opacity .5s ease 0s;
}




/*------------------------*/



.linguisticDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 15%;
  margin-left: 0%;
  font-size: 55px;

  height: 60%;
  width: 100%;
  position: absolute;
}
.linguisticDiv input {
  width: 60%;
  height: 20%;
  margin-left: 20%;
  font-size:25px;
  font-family: vinyl, sans-serif;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

.linguisticDiv input:focus {
  outline: 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

.linguisticDiv input::placeholder {
  margin: 0px;
  color: #BEBEBE;
}
.linguisticDiv p {
  height: 10%;
  width: 100%;
  text-align: center;
}

.linguisticDiv form label {
  font-size: .4em;
}

.linguisticDiv form {
  display: flex;
  justify-content: space-around;
  margin-left: 18%;
  margin-right: 18%;
}



.LButton {
  margin-top: 5%;
  margin-left: 70%;
  height: 10%;
  width: 10%;
  opacity: .5;
  transition:  opacity .5s ease 0s;
}

.LButton:hover{
  opacity: 1;
  transition:  opacity .5s ease 0s;
}

.LTitle {
  margin-top: 10%;
  margin-bottom: 0;
  color: #f27b13;
}

.LAnswer {
  font-size: .5em;
  color: #BEBEBE;
  margin-top: 2%;
  margin-bottom: 3%;
}

.LDefinition {
  height: 50%;
  width: 50%;
  margin-left: 25%;
}



/*------------------------*/

.FamilialDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 15%;
  margin-left: 0%;
  font-size: 55px;

  height: 60%;
  width: 100%;
  position: absolute;
}
.FamilialDiv input {
  width: 60%;
  height: 20%;
  margin-left: 20%;
  font-size:25px;
  font-family: vinyl, sans-serif;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

.FamilialDiv input:focus {
  outline: 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

.FamilialDiv input::placeholder {
  margin: 0px;
  color: #BEBEBE;
}
.FamilialDiv p {
  height: 10%;
  width: 100%;
  text-align: center;
}

.FamilialDiv form label {
  font-size: .4em;
}

.FamilialDiv form {
  display: flex;
  justify-content: space-around;
  margin-left: 18%;
  margin-right: 18%;
}



.FButton {
  margin-top: 5%;
  margin-left: 70%;
  height: 10%;
  width: 10%;
  opacity: .5;
  transition:  opacity .5s ease 0s;
}

.FButton:hover{
  opacity: 1;
  transition:  opacity .5s ease 0s;
}



.FTitle {
  margin-top: 10%;

  margin-bottom: 0;
  color: #08a696;

}

.FAnswer {
  font-size: .5em;
  color: #BEBEBE;
  margin-top: 2%;
  margin-bottom: 3%;
}

.FDefinition {
  height: 50%;
  width: 50%;
  margin-left: 25%;
}

.FValueLabel {
  font-size: .3em;
}

/*------------------------*/

.scrollingDiv {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.card {
  flex: 0 0 auto;
  margin-right: 200px;
}


/* main .navs{
  height: 15vh;
  opacity: 0;
} */

.logo img {
  margin-top: 2%;
  margin-left: 2%;
  width: 200px;
  height: 80px;
  opacity: .5;
  transition:  opacity .5s ease 0s;
}

main {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: vinyl, sans-serif;
  justify-content: space-between;
  min-height:15vh;
  opacity: 1;
  margin-left: 1%;
  margin-right: 3%;
  position: fixed;
right: 0;
left: 0;
z-index: 999;
}

/* main:hover nav {
  opacity: 1;
}*/

main .navs {
  display: flex;
  opacity: 0;
  transition:  opacity .5s ease 0s;
  flex-direction: row;
}

main:hover .navs {
  display: flex;
  opacity: 1;
  transition:  opacity .5s ease 0s;
  flex-direction: row;
}

main:hover img {
  opacity: 1;
  transition:  opacity .5s ease 0s;
}

nav:hover a {
  border-bottom: 2px solid #08A696;
}

main .navs nav {
  margin-left: 50px;
}

.first-row {
  margin-top: 20%;
  display: flex;
  justify-content: space-around;
}

.second-row {
  display: flex;
  justify-content: space-around;
  margin-top: .25%;
}

.Tri1Empty {
  height: 17% + 1vh;
  width: 13%;
  /* margin-left: 40%;
  margin-top: 11%;*/
  position: absolute;
  opacity: 1;
  transition:  opacity .5s ease 0s;
}

.Tri1Full {
  height: 17% + 1vh;
  width: 13%;
  /* margin-left: 40%;
  margin-top: 11%;*/
  position: absolute;
  opacity: 1;
  transition:  opacity .5s ease 0s;
}

.Tri1Empty:hover {
  opacity: .5;
  transition:  opacity .5s ease 0s;
}
.Tri2Empty:hover {
  opacity: .5;
  transition:  opacity .5s ease 0s;
}
.Tri3Empty:hover {
  opacity: .5;
  transition:  opacity .5s ease 0s;
}
.Tri4Empty:hover {
  opacity: .5;
  transition:  opacity .5s ease 0s;
}
.Tri5Empty:hover {
  opacity: .5;
  transition:  opacity .5s ease 0s;
}
.Tri6Empty:hover {
  opacity: .5;
  transition:  opacity .5s ease 0s;
}

.Tri2Empty {
  height: 13%;
  width: 13%;
  margin-right: 44%;
  margin-left: .9%;
  padding-top: .4%;
  /* position: relative; */
  /* margin-left: -7%;
  margin-top: 10%;
  position: relative; */
  opacity: 1;
  transition:  opacity .5s ease 0s;
}

.Tri2Full {
  height: 13%;
  width: 13%;
  margin-right: 44%;
  margin-left: .9%;
  padding-top: .4%;
  /* position: relative; */
  /* margin-left: -7%;
  margin-top: 10%;
  position: relative; */
  opacity: 1;
  transition:  opacity .5s ease 0s;
}

.Tri6Empty {
  height: 13%;
  width: 13%;
  margin-left: 43.5%;
  /* position: relative; */
  /* margin-left: -7%;
  margin-top: 10%;
  position: relative; */
  opacity: 1;
  transition:  opacity .5s ease 0s;
}

.Tri3Empty {
  height: 13%;
  width: 13%;
  margin-right: 44%;
  margin-left: .9%;
  /* margin-left: 47.5%;
  margin-top: -3.5%;
  position: relative; */
  opacity: 1;
  transition:  opacity .5s ease 0s;
}

.Tri3Full {
  height: 13%;
  width: 13%;
  margin-top: -.4%;
  margin-right: 44%;
  margin-left: .9%;
  /* margin-left: 47.5%;
  margin-top: -3.5%;
  position: relative; */
  opacity: 1;
  transition:  opacity .5s ease 0s;
}

.Tri4Empty {
  height: 17% + 1vh;
  width: 13%;
  padding-right: .6%;
  /* margin-left: 40.5%;
  margin-top: %;
  position: relative; */
  position: absolute;
  opacity: 1;
  transition:  opacity .5s ease 0s;
}

.Tri5Empty {
  height: 13%;
  width: 13%;
  margin-left: 43.5%;
  /* margin-left: 1.5%;
  margin-top: %;
  position: relative; */
  opacity: 1;
  transition:  opacity .5s ease 0s;
}



.fadeIn {
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeOut {
  -webkit-animation: fadeOut 1s forwards;
  -moz-animation: fadeOut 1s forwards;
  -o-animation: fadeOut 1s forwards;
  animation: fadeOut 1s forwards; }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-moz-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-o-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }


@keyframes fade {
  0% {opacity: 1}
  50% { opacity: .1 }
  100% { opacity: 1 }
}
